<div>
  <button type="submi" [@buttonAnimation]="state" (click)="buttonState()">Transition</button>
</div>

<div [@hovertext]="stateName">
  <p>Hello! I'm a helpful message.</p>
  <button (click)="hoverState()">Toggle PopOver</button>
</div>

<div class="more-design">
  <img src="../assets/images/teddy.jpg" [@photoState]="imageState" alt="Smiley face" height="400px" width="400px">
  <a routerLink="/another">More</a>
</div>

<button type="submit" class="positionChange"  (click)="isImageTransition('move')">Translate</button>
<button type="submit" class="positionChange"  (click)="isImageTransition('spin')">Rotate</button>
<button type="submit" class="positionChange"  (click)="isImageTransition('enlarge')">scale</button>
<button type="submit" class="positionChange"  (click)="isImageTransition('reset')">Reset</button>

